<!--
  Renders a stream
  Author : Gareth Aye (gareth@streamable.tv)
  Date : 04/21/12
-->

<%= javascript_include_tag 'http://connect.facebook.net/en_US/all.js#xfbml=1' %>

<div id="stream">
  <table id="streamtable">
    <tr>
      <td>
        <h2>
          <%= @stream.title %> 
        </h2>
      </td>
    </tr>

    <tr>
      <td>
        <div id="video_preview">
          <video src=<%= @stream.video_preview.url %> controls>
            Couldn't display video!
          </video>
        </div>
      </td>
    
      <td>
        <div id="description">
          <%= @stream.description %>
          
          <br /><br /><br /><br />

          <%= render 'subscriptions/form' %>
        </div>
      </td>
    </tr>
  
    <tr>
      <td>
        with <%= link_to(format_name(@stream.publisher), @stream.publisher) %>
        at <%= format_time(@stream.when) %>
      </td>
    </tr>
  </table>

  <div id="comments">
    <div id="fb-root"></div>
    <fb:comments href=<%= request.url %> width="700px"></fb:comments>
  </div>
</div>
