// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the top of the
//  * compiled file, but it's generally better to create a new file per style scope.
//  *
//  *= require_self
//  *= require_tree .
// */
@import "mixins.css.scss";

body { 
  font-family: $font-body;
  #header {
    background-color: #113D52;
    height: 70px;
    @include shadow(2px 2px 8px rgba(0,0,0,0.2));
    
    #logo {
      img {
        margin-top: 15px;
        margin-left: 10px;
      }
    }
    
    #user_panel {
      margin-top: 10px;
      margin-right: 20px;
      float: right;
      font-size: 18px;
      a {
        color: white;
        text-decoration: none;
      }
      
      #signup {
  		  background: url('facebook.png');
  		  background-repeat: no-repeat;
  		  height: 50px;
  		  width: 252px;
  		  display: block;
  		  margin-left: auto;
  		  margin-right: auto;
  		  padding-top: 10px;
  		  padding-left: 55px;
  		  &:hover {
  		    cursor: hand;
          cursor: pointer;
  		  }
  		}
  		
  		#account {
  		  padding-top: 35px;
  		  padding-left: 10px;
  		  padding-right: 10px;
  		}
  		
  		#sign_out {
  		  vertical-align: middle;
  		  padding-top: 35px;
  		  padding-left: 10px;
  		  padding-right: 10px;
  		}
    }
  }
}
