@import "mixins.css.scss";

body {
  margin: 0;
  
  #landing {
    @include gradient();
    height: 700px;
    width: 100%;
    color: white;
  
    #header {
      background-color: rgba(0, 0, 0, 0.66);
      height: 70px;
      width: 100%;
    
      #logo {
        img {
          margin-top: 15px;
          margin-left: 10px;
        }
      }
    }
  
    #home_container {
      margin: 50px;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.66);
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      @include rounded();

      #instructions {
        padding-top: 20px;
        font-family: Gill Sans, sans-serif;
        font-size: 25px;
        line-height: 150%;

    		#big {
    		  color: #fbe149;
    			font-size: 40px;
    			padding-bottom: 30px;
    		}

    		.pitch {
    		  font-style: italic;
    		  color: #fbe149;
    		}
    	}
  	
    	#signup {
  		  background: url('facebook.png');
  		  background-repeat: no-repeat;
  		  height: 50px;
  		  width: 252px;
  		  display: block;
  		  margin-left: auto;
  		  margin-right: auto;
  		  padding-top: 10px;
  		  padding-left: 55px;
  		  font-size: 18px;
        text-decoration: none;
		    color: white;
  		  &:hover {
  		    cursor: hand;
          cursor: pointer;
  		  }
  		}
  		
  		#checkit {
  		  float: right;
		    text-decoration: none;
		    color: white;
		  }
    }
  }
}
