@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-side($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin shadow($params: 0px 1px 1px 1px grey) {
	-moz-box-shadow:    $params;
  -webkit-box-shadow: $params;
  box-shadow:         $params;
}

@mixin gradient() {
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 480, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center bottom, circle farthest-side, #FFFFFF 0%, #00A3EF 100%);

  /* Proposed W3C Markup */ 
  background-image: radial-gradient(center bottom, circle farthest-side, #FFFFFF 0%, #00A3EF 100%);
  
  /* IE10 */ 
  background-image: -ms-radial-gradient(center bottom, circle farthest-side, #FFFFFF 0%, #00A3EF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center bottom, circle farthest-side, #FFFFFF 0%, #00A3EF 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(center bottom, circle farthest-side, #FFFFFF 0%, #00A3EF 100%);
}

$font-heading: 'Droid Serif', Georgia, Times, serif;
$font-body: 'Droid Sans', Helvetica, Arial, sans-serif;

$blue: #113D52;
