@import "mixins.css.scss";

/* streams/index */
#dashboard {
  display: none;
  float: left;
  width: 300px;
  height: 150px;
  margin: 25px;
  background: rgb(253, 251, 149);
  @include shadow(1px 1px 8px rgba(0,0,0,0.2));
  @include rounded()
}

#index {
  margin-top: 40px;
  position: absolute;
  width: 100%;
  
  #categories {
    background-color: lighten(gray, 30%);
    padding-bottom: 20px;
    @include rounded();
    @include shadow(inset 4px 4px 12px rgba(0,0,0,0.2));
  }
  
  #content {
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    #message {
      text-align: center;
      margin: 30px 0px;
      
      #main {
        font-size: 50px;
        font-family: $font-heading;
      }
      
      #sub {
        font-size: 30px;
        color: grey;
        font-family: $font-heading;       
      }
    }
    
    #grade_slider {
      margin-bottom: 40px;
    }
    
    .tag {
      margin-top: 40px;
      display: inline;
    }
  }
  
  .tick {
    margin-left: 12.5%;
    color: $blue;
  }
}

#grade_slider {
  #grade_badge {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 30px;
    @include rounded(40px);
    text-align: center;
    padding: 20px;
    background-color: #43B8E4;
    font-weight: bold;
  }
  
  #ticks {
    width: 80%;
    position: relative;
    left: 10px;
    margin-left: auto;
    margin-right: auto;    
    
    .tick {
      float: left;
      position: relative;
      top: -25px;
    }
  }
  
  #slider {
    margin-left: auto;
    margin-right: auto;    
    width: 80%;
  }
}

#streams {
  margin-top: 50px;
  margin-left: 100px; 
  
  .preview {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 80px;
    margin-bottom: 30px;
    
    .preview_image {
      height: 200px;
      border: solid grey 1px;
      
      img {
        width: 100%;
        height: 100%;
      }
      
      &:hover {
        .preview_description { display: block }
      }

      a.preview_description {
        text-decoration: none;
        padding: 20px;
        color: white;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 86%;
        height: 160px;
        background-color: rgba(17,61,66, 0.9);
        display: none;
        line-height: 150%;
      }
    }
    
    .preview_title {
      text-align: center;
      
      a {
        text-decoration: none;
        color: black;
        
        &:hover {
          color: #113D52;
        }
      }
      
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .preview_publisher {
      display: inline;
      margin-right: 80px;
      
      a {
        text-decoration: none;
        color: grey;
        
        &:hover {
          color: #113D52;
        }
      }
    }
    
    .preview_time {
      display: inline;
      color: grey;
      right: 1px;
    }
  }
}

.tag_button {
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 10px 30px;
  background-color: #113D52;
  @include rounded();
  @include shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}

.tag_button_pressed {
  color: white;
  cursor: pointer;  
  margin: 10px;
  padding: 10px 30px;
  background-color: #43B8E4;
  @include rounded();
  @include shadow(inset 4px 4px 12px rgba(0, 0, 0, 0.2));
}

#bottom {
  background-color: $blue;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
  @include shadow(inset 4px 8px 12px rgba(0, 0, 0, 0.2));
  color: white;
  font-family: $font-heading;
  #main { font-size: 50px; }
  #sub { font-size: 25px; }
  a {
    position: relative;
    top: 20px;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    color: $blue;
    padding: 15px 60px;
    @include rounded();
    @include shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
    &:active {
      @include shadow(inset 8px 8px 12px rgba(0, 0, 0, 0.2));
    }
  }
}

/* streams/new */
#form_container {
  @include rounded();
  background-color: #F0F0F0;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  #tag_buttons {
    margin-right: auto;
    margin-left: auto;  
    width: 200px; 
  }

  .tick {
    margin-left: 12%;
  }

  margin-top: 50px;
  padding: 20px;
  @include shadow(8px 8px 12px rgba(0, 0, 0, 0.4))
}

#instruction {
  text-align: center;
  color: #113D52;
  font-family: $font-heading;
}

#explanation {
  text-align: center;
}

.field {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  color: black;
}

#continue {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 3px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.66);
  @include rounded();
}

#continue:hover {
  cursor: hand;
  cursor: pointer;
}

#submit {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/* streams/show */
#stream {
  @include rounded();
  background-color: #F0F0F0;
  width: 1200px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  
  #streamtable {
    #video_preview {
      /* margin: 0 auto; */
      width: 450px;
    }
  
    #description {
      width: 450px;
      margin-left: 200px;
      margin-top: 0px;
      padding: 10px;
      text-align: left;
      
      #subscribe {
        text-align: center;
        width: 200px;
        padding: 3px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.66);
        @include rounded();
      }
    }
    
    #subscribe:hover {
      cursor: hand;
      cursor: pointer;
    }
  }
  
  #comments {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 700px;
  }
}

